@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&display=swap");
:root {
  --max-width: 65rem;
  --font-size: 16px;
  --font-size-sm: 13px;
  --nav-width: 10rem;
  --nav-width-sm: 20%;
  --main-color: #fefefe;
  --second-color: #e9e9e9;
  --green: #60d900;
  --blue: #1db8cc;
  --yellow: #fdc61e;
  --red: #e02a66;
  --font-color: #7f7f7f;
  --content-padding: 0.7rem;
  --content-devider: 3;
  --content-devider-sm: 1;
  --content-space: 1.3%;
  --content-space-sm: 1rem;
  --color-test: #e2e2e2;
}
html, body {
  font-size: var(--font-size);
  font-family: Raleway, sans-serif;
  margin: 0;
}
button {
  cursor: pointer;
  background: linear-gradient(var(--main-color), var(--second-color));
  font-weight: 550;
  font-size: 1.1rem;
  box-shadow: 0 2px 6px 1px #7f7f7f;
  border: none;
  border-radius: 10px;
}
button:hover {
  background: var(--second-color);
}
.container {
  max-width: var(--max-width);
  padding-left: calc(var(--nav-width) + 5%);
  padding-right: 5%;
  margin: 0 auto;
}
.bsc-border {
  border: 0.3rem solid white;
}
.bsc-round {
  border-radius: 10px;
}
.bsc-shadow {
  box-shadow: 0 2px 6px 1px #7f7f7f;
}
.stop-scrolling {
  overflow: hidden;
}
.overlay-image {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  background: repeating-conic-gradient(#eeeeee 0% 25%, var(--second-color) 0% 50%) 50% / 250px 250px;
  z-index: 2;
  padding: 0 5%;
}
.overlay-image-img {
  object-fit: cover;
  max-height: 75%;
  margin-bottom: 2rem;
}
.overlay-image-button {
  width: 20rem;
  padding: 1em 1em;
}
.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 96%;
  width: var(--nav-width);
  background: linear-gradient(90deg, var(--main-color), var(--second-color));
  border-radius: 0 50px 50px 0;
  padding: 1rem 0;
  z-index: 1;
}
.navbar hr {
  margin: 0 10px;
}
.navbar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 16%;
  padding: 1% 0;
}
.navbar div:hover {
  cursor: pointer;
}
.navbar svg {
  height: 50%;
  width: 100%;
}
.navbar span {
  display: block;
  font-weight: 600;
  margin-top: 1.5%;
}
.navbar-user img {
  box-sizing: border-box;
  height: 50%;
  width: auto;
  background-color: var(--main-color);
  border: 0.15rem solid #dedede;
  border-radius: 10px;
  margin: 0 auto;
}
.navbar-community svg {
  stroke: var(--main-color);
  stroke-width: 20px;
}
.navbar .active {
  color: var(--green);
  background: linear-gradient(125deg, #d4d4d4, #dbdcdc00);
}
.navbar .active svg {
  fill: var(--green) !important;
  stroke: #e5e5e5;
}
.header-title {
  text-shadow: 0px -2.5px 0px #46992b;
  font-weight: 600;
  font-size: 2rem;
  color: white;
  border-bottom: 0.15rem solid #46992b;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header-title-bg {
  background: linear-gradient(var(--green), #55c400);
}
.header-img {
  background-image: url(https://files.catbox.moe/ou3fh9.png);
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image horizontally and vertically */
  height: 30vh;
  width: 100%;
  background-repeat: no-repeat; /* Prevents repeating of the image */
}
.main-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.main-header-bg {
  background: linear-gradient(var(--main-color), var(--second-color));
}
.main-header-left, .main-header-mid {
  position: relative;
  top: -1rem;
}
.main-header-left {
  width: 13%;
  height: 20%;
  margin-right: 2%;
}
.main-header-left-icon {
  width: 90%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5rem;
}
.main-header-left-system {
  background-color: #0095c7;
  color: #fff;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
}
.main-header-mid {
  width: 56%;
  margin-right: auto;
}
.main-header-mid-type {
  display: inline-block;
  background-color: var(--green);
  box-shadow: 0 2px 6px 1px #46992b;
  text-shadow: 0px -2px 0px #46992b;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  border-radius: 5px;
  padding: 0.3em;
  margin: 0;
}
.main-header-mid-title {
  font-weight: 600;
  margin: 0.5rem 0;
}
.main-header-mid-desc {
  color: var(--font-color);
  margin: 0;
}
.main-header-right {
  width: 17%;
  margin-top: 0.7rem;
}
.main-header-right svg {
  position: relative;
  bottom: -0.2rem;
}
.main-header-right .shop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.7rem;
}
.main-header-right .shop-button * {
  margin: 0 0.5rem;
}
.main-header-right .shop-button svg {
  bottom: 0.1rem;
  height: 2rem;
  width: 2rem;
  color: #f98d00;
  filter: drop-shadow(0px -0.5px 0px #9a9a9a);
}
.main-header-right .more-buttons {
  display: flex;
  justify-content: space-between;
}
.main-header-right .more-buttons button {
  width: 48%;
  padding: 0;
}
.main-header-right .more-buttons .fav-button svg {
  height: 1.5rem;
  width: 1.5rem;
  stroke: #eaa546;
  stroke-width: 1.3;
}
.main-header-right .more-buttons .set-button svg {
  height: 2.3rem;
  width: 2.3rem;
  color: var(--green);
  filter: drop-shadow(0px -0.9px 0px #9a9a9a);
}
.main-content {
  padding-bottom: 2rem;
}
.main-content-bg {
  background: repeating-conic-gradient(#eeeeee 0% 25%, var(--second-color) 0% 50%) 50% / 250px 250px;
  box-shadow: 0 -1px 5px 0px #a5a5a5;
}
.main-content .subcontent-title {
  position: relative;
  padding: 2rem 0 1rem 0;
}
.main-content .subcontent-title .subcontent-icon {
  position: absolute;
  top: 0.3rem;
  transform: rotate(-5deg);
  color: #fff;
  stroke-linecap: round;
}
.main-content .subcontent-title .title-text {
  background: repeating-conic-gradient(#eeeeee 0% 25%, var(--second-color) 0% 50%) 50% / 60px 60px;
}
.main-content .subcontent-title span {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
}
.main-content .subcontent-title h3 {
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  border-radius: 15px;
  padding: 1rem 0;
  padding-left: 7rem;
  margin: 0;
}
.main-content .subcontent-title button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-radius: 0 10px 10px 0;
  padding: 1rem 0;
  margin-left: auto;
}
.main-content .subcontent-title button svg {
  height: 2rem;
  width: 2rem;
  color: var(--green);
  margin-right: 0.5rem;
  filter: drop-shadow(0px -0.5px 0px #9a9a9a);
}
.main-content .subcontent-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--content-space));
}
.main-content .subcontent-content .content {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  width: calc((100% / var(--content-devider)) - var(--content-space));
  border-radius: 20px;
  margin-right: var(--content-space);
  margin-bottom: var(--content-space);
}
.main-content .subcontent-content .content .content-img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
}
.main-content .subcontent-content .content .content-footer {
  display: flex;
  height: 2.5rem;
  font-size: small;
  color: var(--font-color);
  background-color: #f6f6f6;
  border-radius: 0 0 20px 20px;
  padding: 0.5rem var(--content-padding);
}
.main-content .subcontent-content .content .content-footer .content-usr-mii {
  box-sizing: border-box;
  height: 100%;
  width: auto;
  background-color: var(--main-color);
  border: 0.15rem solid #dedede;
  border-radius: 10px;
  margin-right: 0.5rem;
}
.main-content .subcontent-content .content .content-footer .content-user {
  font-size: 17px;
  font-weight: 600;
  color: #000;
}
.main-content .subcontent-content .content-info span {
  color: var(--font-color);
  margin-right: 0.5rem;
}
.main-content .subcontent-content .content-info svg {
  position: relative;
  top: 0.2rem;
  height: 1rem;
  width: 1rem;
  color: var(--font-color);
  stroke: var(--main-color);
  stroke-width: 18;
  margin-right: 0.2rem;
}
.main-content .subcontent-more {
  display: flex;
  width: 50%;
  margin: 2rem auto;
}
.main-content .subcontent-more button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding: 1em 1em;
  margin: 0 2%;
}
.main-content .subcontent-more button * {
  margin: 0 0.5rem;
}
.main-content .subcontent-more button svg {
  height: 2rem;
  width: 2rem;
  color: #656565;
  filter: drop-shadow(0px -0.5px 0px #9a9a9a);
}
.main-content .subcontent-journal .subcontent-title .subcontent-icon {
  height: 6.5rem;
  width: 6.5rem;
  stroke: var(--blue);
  stroke-width: 18;
}
.main-content .subcontent-journal .subcontent-title span {
  background: linear-gradient(90deg, var(--blue), #1db8cc8e, #1db8cc76);
}
.main-content .subcontent-journal .subcontent-content .content {
  height: 23rem;
}
.main-content .subcontent-journal .subcontent-content .content p {
  font-size: large;
  font-weight: 500;
  margin: auto var(--content-padding);
}
.main-content .subcontent-journal .subcontent-content .content .content-spoiler {
  color: var(--font-color);
}
.main-content .subcontent-journal .subcontent-content .content .content-spoiler button {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
}
.main-content .subcontent-journal .subcontent-content .content .content-spoiler ~ .content-img, .main-content .subcontent-journal .subcontent-content .content .content-spoiler ~ .content-info, .main-content .subcontent-journal .subcontent-content .content .content-spoiler ~ .content-text {
  display: none;
}
.main-content .subcontent-journal .subcontent-content .content .content-info {
  margin: 0.5rem;
  margin-left: auto;
}
.main-content .subcontent-draw .subcontent-content .content .content-img {
  height: 15vw;
}
.main-content .subcontent-draw .subcontent-title .subcontent-icon {
  top: 0.7rem;
  left: 1rem;
  height: 5rem;
  width: 5.5rem;
  stroke: var(--yellow);
  stroke-width: 50;
}
.main-content .subcontent-draw .subcontent-title span {
  background: linear-gradient(90deg, var(--yellow), #fdc51e89, #fdc51e72);
}
.main-content .subcontent-draw .subcontent-content .content .content-footer {
  font-size: inherit;
}
.main-content .subcontent-draw .subcontent-more {
  width: 75%;
}
.main-content .subcontent-discussion .subcontent-title button svg {
  height: 1.5rem;
  width: 1.5rem;
}
.main-content .subcontent-discussion .subcontent-title .subcontent-icon {
  height: 6rem;
  width: 6rem;
  stroke: var(--red);
  stroke-width: 50;
}
.main-content .subcontent-discussion .subcontent-title span {
  background: linear-gradient(90deg, var(--red), #e329678b, #e329677c);
}
.main-content .subcontent-discussion .subcontent-content {
  display: block;
}
.main-content .subcontent-discussion .subcontent-content .content-ls {
  font-weight: 600;
  font-size: 20px;
  border-bottom: 2px dashed var(--font-color);
  padding-bottom: 1rem;
}
.main-content .subcontent-discussion .subcontent-content .content-ls-icon {
  position: relative;
  top: 0.4rem;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--red);
}
.main-content .subcontent-discussion .subcontent-content .content-ls-type {
  margin-right: 1rem;
  color: var(--red);
}
.main-content .subcontent-discussion .subcontent-content .content-ls-topic, .main-content .subcontent-discussion .content-ls-type {
  display: inline-block;
  font-weight: inherit;
  margin: 1rem 0;
}
.main-content .subcontent-discussion .subcontent-content .content-ls-footer {
  display: flex;
  flex-wrap: wrap;
  color: var(--font-color);
  font-size: 17px;
}
.main-content .subcontent-discussion .subcontent-content .content-ls-footer .content-ls-user {
  margin-right: 0.5rem;
}
.main-content .subcontent-discussion .subcontent-content .content-ls-open {
  display: inline-block;
  text-align: center;
  color: var(--main-color);
  background-color: #fead00;
  border-radius: 15px;
  padding: 0.2rem 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
}
@media (max-width: 726px) {
  body {
    font-size: var(--font-size-sm);
  }
  .container {
    padding-left: calc(var(--nav-width-sm) + 5%);
  }
  .overlay-image-img, .overlay-image-button {
    width: 100%;
  }
  .navbar {
    width: var(--nav-width-sm);
  }
  .main-header-mid {
    width: 50%;
  }
  .main .main-header .main-header-left {
    width: 25%;
    margin-right: auto;
  }
  .main .main-header .main-header-mid {
    width: 60%;
  }
  .main .main-header .main-header-right {
    width: 100%;
    margin: auto;
  }
  .main .main-header .main-header-right button {
    padding: 1rem 0;
  }
  .main .main-header .main-header-right .more-buttons button {
    padding: 0.5rem 0;
  }
  .main-content .subcontent-content {
    width: 100%;
  }
  .main-content .subcontent-content .content {
    width: calc(100% / var(--content-devider-sm));
    margin-right: 0;
    margin-bottom: var(--content-space-sm);
  }
  .main-content .subcontent-title button {
    width: 100%;
    border-radius: 0 0px 10px 10px;
  }
  .main-content .subcontent-draw .subcontent-content .content .content-img {
    height: 10rem;
  }
  .main-content .subcontent-more {
    flex-direction: column;
    width: 100%;
  }
  .main-content .subcontent-more button {
    margin: 0.3rem 0;
  }
  .main-content .subcontent-draw .subcontent-more {
    width: 100%;
  }
}
@media (max-width: 576px), (min-width: 1700px), (max-height: 400px) {
  .container {
    padding-left: 5%;
  }
  .navbar {
    position: sticky;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid var(--font-color);
    border-radius: 0;
    background: linear-gradient(var(--main-color), var(--second-color));
    padding: 0;
    box-shadow: none;
  }
  .navbar hr {
    display: none;
  }
  .navbar div {
    padding: 1rem 0.5rem;
  }
  .navbar div, .navbar svg {
    height: 3rem;
  }
  .navbar .active {
    border-left: 2px solid #c1c1c1;
    border-right: 2px solid #c1c1c1;
    background: linear-gradient(#d4d4d4, #dbdcdc00);
  }
  .navbar span {
    display: none;
  }
  .navbar-user img {
    height: 4rem;
  }
  .navbar-message, .navbar-back {
    display: none !important;
  }
}

a {
  text-decoration: none;
}



#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Or any background color */
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}

#loading-screen.fade-out {
  opacity: 0;
  pointer-events: none; /* Prevent interactions after fading */
}

#loading-container {
  left: 24px; 
  position: relative;
  width: 300px;
  height: 300px;
  overflow: show;
}

.disc {
  background-image: url(https://i.imgur.com/oV9kmJo.png);
  border-radius: 50%;
  position: absolute;
  top: 50%;
}

.wii {
  width: 166px;
  height: 166px;
  background-position: -160px -70px;
  margin-top: -83px;
  left: 50px;
  animation: turnwii 8s ease-in-out;
  margin-top: 300px;
}

@keyframes turnwii {
  0% {transform: rotate(0deg); margin-top: -83px;}
  95% {margin-top: -83px;}
  100% {transform: rotate(5760deg); margin-top: 300px;}
}

.slot {
  border-top: 2px solid black;
  animation: widen 7s ease-in-out;
  width: 180px;
  height: 35px;
  background: white;
  left: 45px;
  bottom: 0;
  position: absolute;
}

@keyframes widen {
  0% {left: 135px; width: 0;}
  96% {left: 135px; width: 0;}
  100% {left: 45px; width: 180px;}
}

#loading-text {
  position: absolute;
  bottom: -80px; /* Adjust as needed */
  left: 46%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #333; /* Adjust color as needed */
  text-align: center;
  font-family: contb;
}
#loading-text2 {
  position: absolute;
  bottom: -120px; /* Adjust as needed */
  left: 44%;
  transform: translateX(-50%);
  font-size: 15px;
  color: #333; /* Adjust color as needed */
  text-align: center;
  font-family: contl;
}
